<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="csv" xsi:type="File" fileName="C:\Logs\PracticalTestLog\${machinename}_TestLog_${shortdate}.csv" maxArchiveFiles="60" encoding="iso-8859-2">
        <layout xsi:type="CSVLayout" delimiter="Comma">
          <column name="ServerName" layout="${machinename}" />
          <column name="LogDateTime" layout="${longdate}" />
          <column name="Level" layout="${level}" />
          <column name="Message" layout="${message}" />
          <column name="ExceptionDetails" layout="${exception:format=type, message, method:maxInnerExceptionLevel=5:innerFormat=shortType, message, method}" />
        </layout>
      </target>
      <target name="console" xsi:type="Console" />
      <target name="debugger" xsi:type="Debugger" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="csv" />
      <logger name="*" minlevel="Info" writeTo="console" />
      <logger name="*" minlevel="Info" writeTo="debugger" />
    </rules>
  </nlog>
  <appSettings>
    <add key="WebUrl" value="https://calculator-web.azurewebsites.net" />
    <add key="ApiUrl" value="https://calculator-api.azurewebsites.net/api/Calculate" />
    <add key="AuthToken" value="cYWOrJhggJO8/CHx52TfmD8AH5RdGEjSIBjHhuiHb5qnFV0jzDyngQ==" />
  </appSettings>
</configuration>